{%extends 'layout/base.html'%}
{%block title%}
Trang dang nhap
{%endblock%}
{%block content%}
<h3 class="text-info text-center mt3">Trang dang nhap</h3>
<form method="post">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Nhap tai khoan" name="username">
        <label for="username">Nhap tai khoan</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" id="password" placeholder="Enter password" name="password">
        <label for="password">Enter password</label>
    </div>
    <div class="form-floating mt-3 mb-3">
    <button class="btn btn-info" type="submit">
        Dang nhap
    </button>
</div>
</form>

{%endblock%}